<div>
    <h1><%= @tag.phrase %></h1>
</div>

<div class="row">
  <!-- a place for current user stats -->
  <div class= "col-md-8 col-md-offset-2">
    <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
 <%= render 'a_tweet', tweet: tweet %>
    <% end %>
   </div>
</div>